--- 

layout: 'base.njk'

--- 

       
  <div class="individual-article__page" id="hero">
      <div class="flow">
          <figure class="main-article__figure">
            <img src="{{ image }}" alt="{{ imageAlt }}">
          </figure>    
          <h1 class="blog-heading mb-20 text-center"> {{ title }} </h1>
          <h2 class="text-center description"> {{ description }} </h2>
          <p class="text-center author">{{ date | postDate }}</p>
          <hr>
          
          {{ content | safe }}


          <!-- Back -->
          <a href="../" class="btn btn-primary mt-50">&LeftArrow; Back</a>
      </div>
    </div>
<!-- </div> -->

