

<!-- ============== Contact Footer ============= -->
<section class="section-footer" id="section-footer">
    <div class="container wrapper">


        <div class="col-3">
            {# summary and socials #}
            <div>
                <img src="/assets/logo.png" alt="Carbell Sarfo Logo" class="footer-logo">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, ab praesentium rerum dignissimos, dolore, saepe quo corrupti labore distinctio hic explicabo minus debitis similique nisi.</p>
                <ul class="social-list">
                    <li class="social-item">
                        <a href="#" class="social-link">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#" class="social-link">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#" class="social-link">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#" class="social-link">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>

            {# footer navigation#}
            <div>
                <h3 class="heading-secondary mb-20">Pages</h3>
                <ul class="footer-nav__list">
                    <li class="footer-nav__item">
                        <a href="#hero" class="footer-nav__link">Home</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="#section-about" class="footer-nav__link">About Me</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="#section-portfolio" class="footer-nav__link">Portfolio</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="#section-testimonials" class="footer-nav__link">Testimonials</a>
                    </li>
                </ul>
            </div>


            {# Contact me #}
            <div>
                <h3 class="heading-secondary mb-20">Contact me</h3>
                <ul class="contact-list">
                    <li class="contact-item">
                        <i class="fa-regular fa-envelope"></i>
                        <a href="mailto:carbellsarfo@gmail.com">carbellsarfo@gmail.com</a>
                    </li>
                    <li class="contact-item">
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:+0241105423">+233 (0) 24 110 5423</a>
                    </li>
                    <li class="contact-item">
                        <i class="fa-brands fa-whatsapp"></i>
                        <a href="https://wa.link/8ikk77">+233 (0) 24 110 5423</a>
                    </li>
                </ul>

                {# Privacy Policy and Terms of use #}
                <ul class="policy">
                    <li class="privacy-item">
                        <a href="/pages/privacy-policy/" class="privacy-link">Privacy Policy</a>
                    </li>
                    <li class="privacy-item">
                        <a href="/pages/terms-of-service/" class="privacy-link">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>

           
        </div>
        
    </div>
</section> 


<footer>
    <p>Copyright &copy; 2023. All Rights Reserved.</p>
</footer>
