
<!-- nav-button and overlay -->
<div class="nav-overlay"></div> 

    
<!-- Back to the top switch -->
<a href="#hero" class="to-top">
    <i class="fa-solid fa-chevron-up"></i>    
</a> 

<!-- =============== Navigation ================ -->
<nav class="nav-bar">
    <div class="container wrapper">
        <div class="nav-container">      
            {# Navigation Button #}
            <div class="nav-btn">
                <div class="lines"></div>
                <div class="lines"></div>
                <div class="lines"></div>
            </div>
            
            <!-- LOGO -->
            <a href="/" class="logo">
                <img src="/assets/logo.png" alt="Newborn Care Specialist" class="logo-img">
            </a>

            {# Navigation Menu #}
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#section-about" class="nav-link">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="/blog/" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="/pages/packages/" class="nav-link">YouTube</a>
                </li>
                <li class="nav-item">
                    <a href="/blog/" class="nav-link">Contact</a>
                </li>
            </ul>

            {# Contact Email Button #}
            <a href="mailto:carbellsarfo@gmail.com" class="nav-email">info@carbellsarfo.com</a>
            
        </div>
    </div>
</nav>