.form-success {
    display: inline-block;
    width: 80%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-white);
    padding: 2rem 4rem;
    border-radius: 1rem;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.323);
    text-align: center;

    h2 {
        margin-bottom: 1.5rem;
    }

    p {
        margin-bottom: 1.5rem;
    }

}