
// Table of Content
// 1. Container
// Custom Columns
// Sections


// ========== Container =============
.container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 2580px;
    height: 100%;
}
// wrapper
.wrapper {
    padding-right: 20px;
    padding-left: 20px;
}


// Custom Columns
.col-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    align-items: center;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
}
.col-4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
}

// section
.section {
    padding: 10rem 0;
}





// id of her
#hero {
    padding-top: 12rem
}





// ===============================
//      media queries
// ===============================
@media (min-width: 768px) {
    .wrapper {
        padding-right: 200px;
        padding-left: 200px;
    }

    .col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
     // four columns
     .col-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 4rem;
    }
}



