---
title: Segula Global
meta: I am Carbell Sarfo, I am an entrepreneur. Solving the problems of today and of tomorrow.
layout: 'base.njk'
---

{# Table of content #}
{# 1. Section hero #}
{# 2. Section Services #}
{# 3. Section About Me #}




{# ================================ Section Hero ============================= #}
<section class="section-hero" id="section-hero">
    <div class="container wrapper">
        <div class="col-2">
            {# hero-text #}
            <div class="hero-text">
                <p class="primary-text">Public Speaker &amp; Entrepreneur</p>
                <h1 >HI, I AM A DESIGNER EXPERT IN WEBFLOW DEVELOPMENT</h1>
                <p class="mb-50">My mission is to design and develop a website that you and your audience love.</p>
                <div class="hero-buttons">
                    <a href="#section-portfolio" class="btn btn-primary">Projects</a>
                    <a href="#section-contact" class="btn btn-neutral">Contact me</a>
                </div>
            </div>
            {# hero-img #}
            <div class="hero-img">
                <img src="/assets/hero-img.png" alt="Carbell Sarfo">
            </div>
        </div>
    </div>
</section>
{# End of Section-hero #}




{# ================================ Section Awards ============================= #}
<div class="section section-awards" id="section-awards">
    <div class="container wrapper">
        <div class="col-3">
            <img src="/assets/wima.png" alt="wima">
            <img src="/assets/yips.png" alt="wima">
            <img src="/assets/aio.png" alt="wima">
            <img src="/assets/angaza.png" alt="wima">
            <img src="/assets/ciic.png" alt="wima">
        </div>
    </div>
</div>
{# End of Section-hero #}



{# ================================ Section Services ============================= #}
<section class="section-services" id="section-services">
    <div class="container wrapper">
        <div class="col-3">
            <div class="service">
                <div class="service__icon">
                    <i class="fa-brands fa-x-twitter red"></i>
                </div>
                <div class="service__text">
                    <h3 class="heading-secondary">Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis quo architecto. Animi perspiciatis nesciunt id dolorem! Dicta placeat aut dolorum ab officia. Exercitationem illo laudantium, assumenda itaque soluta temporibus.</p>
                </div>
            </div>
            <div class="service">
                <div class="service__icon">
                    <i class="fa-brands fa-x-twitter yellow"></i>
                </div>
                <div class="service__text">
                    <h3 class="heading-secondary">Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis quo architecto. Animi perspiciatis nesciunt id dolorem! Dicta placeat aut dolorum ab officia. Exercitationem illo laudantium, assumenda itaque soluta temporibus.</p>
                </div>
            </div>
            <div class="service">
                <div class="service__icon">
                    <i class="fa-brands fa-x-twitter green"></i>
                </div>
                <div class="service__text">
                    <h3 class="heading-secondary">Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis quo architecto. Animi perspiciatis nesciunt id dolorem! Dicta placeat aut dolorum ab officia. Exercitationem illo laudantium, assumenda itaque soluta temporibus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{# end of Services #}

{# ================================ Section About ============================= #}
<section class="section-about" id="section-about">
    <div class="container wrapper">
        <h1 class="heading-primary">About Me</h1>
        <p class="text-center mb-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates fugit, accusantium rat.</p>
        <div class="col-2">
            {# About img #}
            <div class="about-img">
                <img src="/assets/about-img.png" alt="About Carbell">
            </div>
            {# About text #}
            <div class="about-text">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo adipisci architecto autem rem expedita, alias ipsum eaque fugiat, officiis eveniet dignissimos ab esse natus ipsam quod. Voluptatibus sed officiis nam ex neque odio harum obcaecati?</p>
                <br>
                <p class="mb-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ipsa sunt fugiat odio autem harum impedit et, quos modi accusamus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ipsa sunt fugiat odio autem harum impedit et, quos modi accusamus.
                </p>
                <a href="#section-contact" class="btn btn-primary">Contact</a>
            </div>
        </div>
    </div>
</section>
{# End of About me #}




{# ================================ Section banner ============================= #}
<section class="section-banner" id="sectionbanner">
    <div class="container wrapper">
        <div class="col-2">
            <div>
                <h1 class="heading-primary white-text text-left">Cornerstone Conversations</h1>
                <h3 class="heading-tertiary">Dave Bautista &amp; Dwayne Johnson</h3>
                <p class="mb-20">Listen along to the podcast where we talk everything career progression, and business mindset.</p>
                <a href="#" class="btn btn-primary">Listen Now <i class="fa-solid fa-podcast"></i></a>
            </div>
            <div>
                <img src="/assets/banner.png" alt="Podcast">
            </div>
        </div>
    </div>
</section>
{# end of session services #}



{# ================================ Section Blog ============================= #}
<section class="section-blog" id="section-blog">
    <div class="container wrapper">
        <h1 class="heading-primary">Latest from the Blog</h1>
        <div class="blog-container">
            <!-- <div class="article">
                <img src="/assets/images/article-1.jpg" alt="blog-article-1" class="article__img">
                <span class="article__date">March 20, 2020</span>
                <h2 class="article__description">I nearly got run over but maybe i survived.</h2>
                <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam deserunt, rem, eveniet facilis quam vitae inventore exercitationem velit voluptatibus distinctio porro molestiae cumque reiciendis architecto fugit fugiat, soluta sit ipsa? ...</p>
                <a href="#" class="btn btn-neutral">Read More &longrightarrow;</a>
            </div> -->
            {%- for post in collections.featured | reverse -%}
                {% include 'article-snippet.njk' %}
            {%- endfor-%}
        </div>
        <div class="text-center" style="margin-top: -3rem">
            <a href="/blog/" class="btn btn-primary">Read More Articles</a>
        </div>
    </div>
</section>
{# end of session Blog #}



{# ================================ Section Portfolio ============================= #}
{# <section class="section-portfolio" id="section-portfolio">
    <div class="container wrapper">
        <h1 class="heading-primary">Portfolio</h1>
        <p class="text-center mb-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id corporis deleniti fugit. Maiores, aliquam!</p>
        <div class="col-2">
            {# comfort-craddle 
            <a href="#">
                <img src="/assets/portfolio-1.png" alt="Comfort Craddle" class="project">
            </a>
            {# Samuel Botchway 
            <a href="#">
                <img src="/assets/portfolio-2.png" alt="Samuel Botchway" class="project">
            </a>
        <div/>
    </div>
</section> #}
{# Section-portfolio #}





{# ================================ Section Testimonials ============================= #}
<section class="section-testimonials">
    <div class="container wrapper">
        <h1 class="heading-primary">Testimonials</h1>
        <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, magni?</p>
        <div class="testimonials-container">
            <div class="testimonial fade">
                <img src="/assets/testimonial-1.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Samuel Botchwey</h4>
                <p class="testimonial__text">"Building a website. I thought to myself, how, where and from whom would I be able to get a simple, elegant website. Well, I worried until I found out a dear friend who gave his all in making this a reality for me. A person open and willing to listen and willing to learn to be able to provide the best for you  are qualities that best suits him."</p>
            </div>
            <div class="testimonial fade">
                <img src="/assets/testimonial-2.png" alt="Winnard Bansah" class="testimonial__img">
                <h4 class="testimonial__name">Winnard Bansah</h4>
                <p class="testimonial__text">"Using words like 'hardworking' and 'amazing' sound cliché but Carbell is an embodiment of that. Working with him gave me a first person view as he was able to build and fully implement multiple brand strategies from ground up with great quality. 
                <br>
                And there's even so much more behind the curtains"</p>
            </div>

            
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">
                <i class="fa fa-chevron-left"></i>    
            </a>
            <a class="next" onclick="plusSlides(1)">
                <i class="fa fa-chevron-right"></i>
            </a>
            
        </div>
        <!-- The dots/circles -->
        <div class="text-center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>
    </div>
</section>


